<h1>Palindromes</h1>
<form class="" action="/palin" method="post">
  <label for="input">please enter a word</label>
  <input name="input" type="text">
  <button type="submit" name="button">see if it is a palindrome</button>
</form>
